.coomis {
  padding: 20px;
  margin: 4rem 0;
  width: 100%;
  border-radius: 14px;
  border: 1px solid #d9dbdf;

  .info {
    .title {
      color: #4da7ff;
      font-variant-numeric: lining-nums proportional-nums;
      font-size: 32px;
      font-style: normal;
      font-weight: 500;
      line-height: 86.4%; /* 27.648px */
      margin-bottom: 1rem;
    }
  }
}
@media (max-width: 480px) {
  .coomis {
    margin: 2rem 0;
    height: auto;
    background-image: none;
    .info {
      ul {
        font-size: 14px;
      }
      margin: 15px;
      .title {
        font-size: 25px;
        text-align: center;
      }
      p {
        font-size: 14px;
      }
    }
  }
}
