.deposits {
  margin-top: 4rem;
  margin-bottom: 4rem;

  .deposit_selects {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
  }
  .deposit_offers {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px 10px;
  }

  .btn_cont {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }
}

@media (max-width: 480px) {
  .deposits {
    .deposit_offers {
      flex-direction: column;
      align-items: center;
    }

    .deposit_selects {
		flex-direction: column;
		align-items: center;
    }
  }
}
